.page {
  display: table;
  width: 100%;
  font-size: 40px;
  color: #fff;
  background-size: cover;
  background-color: #000;
  vertical-align: middle;
}

.page p {
  display: table-cell;
  vertical-align: middle;
}

.page1 {
  background: url('../source/01.jpg');
}

.page2 {
  background: url('../source/02.jpg');
  color: #000;
}


.hide {
  display: none;
}