body .page {
  font-size: 40px;
  color: #fff;
  background-size: cover;
  background-color: #000;
}

.page1 {
  background: url('../source/01.jpg');
}

.page2 {
  background: url('../source/02.jpg');
}


.hide {
  display: none;
}